WebContent/wsdl/DaoImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://kalinga.in" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://kalinga.in" xmlns:intf="http://kalinga.in" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://kalinga.in" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="insert">
    <complexType>
     <sequence>
      <element name="fs" type="xsd:string"/>
      <element name="pos" type="xsd:string"/>
      <element name="pn" type="xsd:string"/>
      <element name="tid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertResponse">
    <complexType>
     <sequence>
      <element name="insertReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPlayers">
    <complexType/>
   </element>
   <element name="getPlayersResponse">
    <complexType>
     <sequence>
      <element name="getPlayersReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPlayersRequest">

      <wsdl:part element="impl:getPlayers" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPlayersResponse">

      <wsdl:part element="impl:getPlayersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertRequest">

      <wsdl:part element="impl:insert" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertResponse">

      <wsdl:part element="impl:insertResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DaoImpl">

      <wsdl:operation name="insert">

         <wsdl:input message="impl:insertRequest" name="insertRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertResponse" name="insertResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPlayers">

         <wsdl:input message="impl:getPlayersRequest" name="getPlayersRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPlayersResponse" name="getPlayersResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DaoImplSoapBinding" type="impl:DaoImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPlayers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPlayersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPlayersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DaoImplService">

      <wsdl:port binding="impl:DaoImplSoapBinding" name="DaoImpl">

         <wsdlsoap:address location="http://localhost:8765/soap-contract-last/services/DaoImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
